*{
    margin: 0%;
    padding: 0%;
}

body{

    background: linear-gradient(red,black);
    background-size: 500%;
    animation: fanimado 10s infinite;
}
@keyframes fanimado {
    0%{
background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}